In [ ]:
# Task 1
students = {
    "student1": {"name": "Alice", "age": 20, "grades": {"math": 85, "science": 90}},
    "student2": {"name": "Bob", "age": 22, "grades": {"math": 78, "science": 88}},
    "student3": {"name": "Charlie", "age": 21, "grades": {"math": 82, "science": 89}}
}

# 1. Delete Charlie’s Record
del students["student3"]

# 2. Delete Bob’s Math Grade
del students["student2"]["grades"]["math"]

print(students)

{'student1': {'name': 'Alice', 'age': 20, 'grades': {'math': 85, 'science': 90}}, 'student2': {'name': 'Bob', 'age': 22, 'grades': {'science': 88}}}

In [ ]:
# Task 2
employees = {
    101: {"name": "Alice", "department": "HR", "salary": 50000},
    102: {"name": "Bob", "department": "IT", "salary": 60000}
}

#Add new employee with ID 103 and 104
employees[103] = {"name": "Charlie", "department": "Finance", "salary": 55000}
employees[104] = {"name": "David", "department": "Finance", "salary": 52000}

#Update salary of employee 102
employees[102]["salary"] = 65000

print(employees)

Department of employee 101: HR
{101: {'name': 'Alice', 'department': 'HR', 'salary': 50000}, 102: {'name': 'Bob', 'department': 'IT', 'salary': 65000}, 103: {'name': 'Charlie', 'department': 'Finance', 'salary': 55000}, 104: {'name': 'David', 'department': 'Finance', 'salary': 52000}}

In [ ]:
# Task 3
students = {
    "Alice": {"math": 90, "science": 85},
    "Bob": {"math": 70, "science": 80},
    "Charlie": {"math": 88, "science": 92}
}

highest_avg = 0
top_student = ""

for name, grades in students.items():
    avg = sum(grades.values()) / len(grades)
    if avg > highest_avg:
        highest_avg = avg
        top_student = name

print("Top student:", top_student)
print("Highest average grade:", highest_avg)

Top student: Charlie
Highest average grade: 90.0

In [ ]:
# Task 4
library = {
    1: {"title": "Python Basics", "author": "Guido van Rossum", "available": True},
    2: {"title": "Data Science ", "author": "John D.", "available": True}
}

#Add a new book
library[3] = {"title": "Machine Learning", "author": "Tom Lee", "available": True}

#Borrow a book (change availability to False)
library[1]["available"] = False

#Return a book (change availability to True)
library[2]["available"] = True

print("Library Records:")
for book_id, details in library.items():
    print(f"ID: {book_id}, Title: {details['title']}, Author: {details['author']}, Available: {details['available']}")

Library Records:
ID: 1, Title: Python Basics, Author: Guido van Rossum, Available: False
ID: 2, Title: Data Science , Author: John D., Available: True
ID: 3, Title: Machine Learning, Author: Tom Lee, Available: True